@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Lato&family=Montserrat:wght@700&family=Noto+Sans+JP&family=Open+Sans&family=Poppins&family=Ubuntu:wght@400;700&display=swap");
.idea {
  display: flex;
  flex: 1;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}
.idea__left {
  flex: 0.25;
  background-color: rgb(236, 235, 233);
  border-right: 1px solid lightgrey;
}
.idea__right {
  flex: 0.75;
  background-color: whitesmoke;
}
.idea__left__body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.idea__left__feedBody {
  overflow-y: scroll;
  max-height: 60vh;
  scrollbar-color: red;
}
.idea__left__feedBody::-webkit-scrollbar {
  width: 0.1rem;
}

/* .idea__left__feedBody::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
} */

.idea__left__feedBody::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
.idea__left__header {
  flex: 0.2;
  min-height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  border-bottom: 1px solid lightgrey;
}
.idea__left__header > h1 {
  font-size: 2rem;
  color: rgb(139, 139, 139);
  margin-top: -0.2rem;
  font-family: "Montserrat", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
}

.idea__left__feed {
  flex: 0.6;
}
.idea__left__footer {
  display: flex;
  min-height: 20vh;
  justify-content: center;
  align-items: center;
  flex: 0.2;
  border-top: 1px solid lightgrey;
}
.idea__footer__add {
  align-items: center;
  justify-content: center;
  border: 2px dashed black;
  width: 70%;
  height: 70%;
  border-radius: 1rem;
  opacity: 0.5;
}
.idea__footer__addBtn {
  text-decoration: none;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.idea__footer__addBtntext {
  font-size: 1rem;
  padding: 0 0.5rem;
  margin-top: 0.1rem;
}

.idea__landingPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.idea__landingPage .idea__image {
  width: 15rem;
}
.idea__left__feedBody a {
  color: black;
  text-decoration: none !important;
}
